<?xml version="1.0"?>
<!--
/**
 * @category   MagePsycho
 * @package    MagePsycho_Easypathhints
 * @author     Raj KB <magepsycho@gmail.com>
 * @website    http://www.magepsycho.com
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="MagePsycho\Easypathhints\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="MagePsycho\Easypathhints\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">MagePsychoEasypathhintsLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">MagePsycho\Easypathhints\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\TemplateEngineFactory">
        <plugin name="mp_debug_hints" type="MagePsycho\Easypathhints\Plugin\TemplateEngine\DebugHints" sortOrder="20"/>
    </type>

</config>